---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
<!--     <h4> Feb 28, 2022 (Virtual). All times below are in PST</h4> -->
  </header>
  <div class = "post-content">

	  <table>
		  <tr>
			  <td>
				  <div class="people-name text-center">
					  <b>Time</b>
				  </div>
			  </td>
			  <td>
				  <div class="people-name text-center">
					  <b>Event</b>
				  </div>
			  </td>
		  </tr>
		  {% assign papers_list = site.data.schedule | sort: "sequence_id" %}
		  {% assign contributed_talk_id = 0 %}
		  {% assign invited_talk_id = 0%}
		  {% assign lightning_talk_id = 0%}
			{% for scheduleitem in papers_list %}
				<tr>
					<td>
						<p align="center">
							{{ scheduleitem.time }}
						</p>
					</td>
					<td align="center">
						<div class="col-xs-12">
							<b>{{ scheduleitem.title }}</b>
							{% if scheduleitem.title contains "Invited" %}
							<p style="text-align: left;"> Speaker: {{ site.speakers[invited_talk_id].name }} </p>
							{% assign invited_talk_id = invited_talk_id | plus:1 %}
							{% endif %}
							{% if scheduleitem.title contains "Contributed" %}
							<p style="text-align: left;"> Paper: {{ site.data.contributed[contributed_talk_id].id}} - {{site.data.contributed[contributed_talk_id].title}} </p>
							{% assign contributed_talk_id = contributed_talk_id | plus:1 %}
							{% endif %}
							{% if scheduleitem.title contains "Lightning" %}
							<p style="text-align: left;"> Paper: {{ site.data.lightning[lightning_talk_id].id}} - {{site.data.lightning[lightning_talk_id].title}} </p>
							{% assign lightning_talk_id = lightning_talk_id | plus:1 %}
							<p style="text-align: left;"> Paper: {{ site.data.lightning[lightning_talk_id].id}} - {{site.data.lightning[lightning_talk_id].title}} </p>
							{% assign lightning_talk_id = lightning_talk_id | plus:1 %}
							<p style="text-align: left;"> Paper: {{ site.data.lightning[lightning_talk_id].id}} - {{site.data.lightning[lightning_talk_id].title}} </p>
							{% assign lightning_talk_id = lightning_talk_id | plus:1 %}
							<p style="text-align: left;"> Paper: {{ site.data.lightning[lightning_talk_id].id}} - {{site.data.lightning[lightning_talk_id].title}} </p>
							{% assign lightning_talk_id = lightning_talk_id | plus:1 %}
							<p style="text-align: left;"> Paper: {{ site.data.lightning[lightning_talk_id].id}} - {{site.data.lightning[lightning_talk_id].title}} </p>
							{% assign lightning_talk_id = lightning_talk_id | plus:1 %}
							<p style="text-align: left;"> Paper: {{ site.data.lightning[lightning_talk_id].id}} - {{site.data.lightning[lightning_talk_id].title}} </p>
							{% assign lightning_talk_id = lightning_talk_id | plus:1 %}
							<p style="text-align: left;"> Paper: {{ site.data.lightning[lightning_talk_id].id}} - {{site.data.lightning[lightning_talk_id].title}} </p>
							{% assign lightning_talk_id = lightning_talk_id | plus:1 %}
							{% endif %}
						</ul>
						</div>
					</td>
				</tr>
			{% endfor %}
	  </table>
  </div>

</article>
